body {
    color: lightpink;
    text-align: center;
    background-color: rgb(27, 27, 27);
    text-decoration: none;
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


form {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 20rem;
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.heading {
    text-align: center;
    background: pink;
    color: white;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
}

input {
    font-family: inherit;
    transition: 0.3s;
    border-radius: 5px;
    border: none;
    outline: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 3.621%; /* ha ha funny number */
}

.error-animation {
    border-radius: 50px;
}

.pfp {
    border-radius: 50%;
    width: auto;
    height: auto;
    max-width: 20%;
}

a {
    color: inherit; /* colors for links too */
    text-decoration: inherit; /* no underline */
}

nav {
    display: block;
    text-align: left;
    padding: 2%;
}

.things {
    text-align: center;
    text-decoration: underline;
}

button {
    border: none;
    color: lightpink;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    background-color: rgb(27, 27, 27);
    margin: 0.5%;
    width: 50%;
}

#website {
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    background: gainsboro;
    padding: 0 10px;
    margin-bottom: 20px;
}

.generateBtn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 20px;
}

#b1 {
    border: 2px solid #FF0000;
}

#b1:hover {
    background-color: #FF0000;
    color: white;
}

#b2 {
    border: 2px solid #1D9BF0;
}

#b2:hover {
    background-color: #1D9BF0;
    color: white;
}

#b3 {
    border: 2px solid #0165E1;
}

#b3:hover {
    background-color: #0165E1;
    color: white;
}

#b4 {
    border: 2px solid #6364FF;
}

#b4:hover {
    background-color: #6364FF;
    color: white;
}

#b5 {
    border: 2px solid #E1306C;
}

#b5:hover {
    background-color: #E1306C;
    color: white;
}

#b6 {
    border: 2px solid lightpink;
}

#b6:hover {
    background-color: lightpink;
    color: white;
}

#b7 {
    border: 2px solid #1D9BF0;
}

#b7:hover {
    background-color: #1D9BF0;
    color: white;
}

